# Site Configuration
NEXT_PUBLIC_SITE_NAME="Telegram中文官网"
NEXT_PUBLIC_SITE_URL="https://your-domain.com"
NEXT_PUBLIC_SITE_DOMAIN="your-domain.com"

# Admin API Configuration
ADMIN_API_URL="https://adminseohub.xyz"

# Download Site URL
NEXT_PUBLIC_DOWNLOAD_URL="https://venerable-concha-42e618.netlify.app"
